:root {
    --color-primary: #191919;
    --color-secondary: #50e3c2;

    --font-family-sans-serif: 'Helvetica Neue', Arial, sans-serif;
    --font-family-serif: 'Georgia', serif;

    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 20px;

    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 16px;

    --form-auth-height: 80vh;
    --form-auth-width: 30vw;
}

* {
    font-family: var(--font-family-sans-serif);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-primary);
}

.font-size-small {
    font-size: var(--font-size-small);
}

.font-size-medium {
    font-size: var(--font-size-medium);
}

.font-size-large {
    font-size: var(--font-size-large);
}

h1 {
    font-size: 5vmin;
}

input {
    font-size: var(--font-size-medium);
    padding: 0.5rem;
    border-radius: var(--border-radius-small);
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid var(--color-primary);
}

button {
    font-size: var(--font-size-medium);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-small);
    border: none;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
}